.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.clock {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff13;
  border: 4px solid #1c1b1b; /* красная окантовка как в рок-тематике */
  box-shadow: 0 0 20px rgba(244, 244, 244, 0.3);
}

/* Центральная точка */
.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 10;
  box-shadow: 0 0 10px #e4e3e3;
}

/* Маркеры часов */
.marker {
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 5px #d3d3d3;
}

.marker-12 {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.marker-3 {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.marker-6 {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.marker-9 {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/* Общие стили для стрелок */
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 4px;
}

.hour-hand {
  width: 6px;
  height: 50px;
  background: #494949;
  transform: translateX(-50%);
}

.minute-hand {
  width: 4px;
  height: 70px;
  background: #1e1e1e;
  transform: translateX(-50%);
}

.second-hand {
  width: 2px;
  height: 85px;
  background: #fc001d;
  transform: translateX(-50%);
  box-shadow: 0 0 10px #929292;
}

/* Добавим маленькие отметки для минут */
.clock::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: repeating-conic-gradient(
    from 0deg,
    transparent 0deg 6deg,
    rgba(234, 234, 234, 0.2) 6deg 12deg
  );
}